{{#if singleList.shows}}

  {{#each singleList.shows}}
    <!--             <img class="ui small rounded image shadow" src="{{imgpath}}">
            {{english_title}} -->

    <div class="ui divided items">
      <div class="item">
        <div class="image">
          <img class="ui small rounded image shadow" src="{{imgpath}}" />
        </div>
        <div class="content">
          <a href="/shows/{{id}}" class="header">{{english_title}}</a>
          <div class="meta">
            <span class="cinema">Studio: {{animation_studio}}</span>
          </div>
          <div class="description">
            <p>{{description}}</p>
          </div>
          <div class="extra">
            {{#each genre}}
              <div class="ui label">{{this}}</div>
            {{/each}}
            <a href="/shows/{{id}}">
              <div class="ui right floated primary button">
                View Details
                <i class="right chevron icon"></i>
              </div></a>

          </div>
        </div>
      </div>

    </div>
<hr>

  {{/each}}

{{else}}
  <h3 class="ui message">
    Empty List!
  </h3>

{{/if}}