{{#if singleList.shows}}


      {{#each singleList.shows}}
<!--             <img class="ui small rounded image shadow" src="{{imgpath}}">
            {{english_title}} -->


<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="{{imgpath}}">
    </div>
    <div class="content">
      <a class="header">{{english_title}}</a>
      <div class="meta">
        <span class="cinema">Studio: {{animation_studio}}</span>
      </div>
      <div class="description">
        <p>asdasdasdasd</p>
      </div>
      <div class="extra">
        {{#each genre}}
        <div class="ui label">{{this}}</div>
        {{/each}}
         <div class="ui right floated primary button">
          View Show
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="ui divided items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">12 Years a Slave</a>
      <div class="meta">
        <span class="cinema">Union Square 14</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui label">IMAX</div>
        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">My Neighbor Totoro</a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Watchmen</a>
      <div class="meta">
        <span class="cinema">IFC</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>



      {{/each}}


{{else}}
  <h3 class="ui message">
    Empty List!
  </h3>

{{/if}}