{{#if singleList.shows}}

  {{#each singleList.shows}}
    <!--             <img class="ui small rounded image shadow" src="{{imgpath}}">
            {{english_title}} -->

    <div class="ui divided items">
      <div class="item">
        <div class="image">
          <img class="ui small rounded image shadow" src="{{imgpath}}" />
        </div>
        <div class="content">
          <a class="header">{{english_title}}</a>
          <p>{{id}}</p>
          <div class="meta">
            <span class="cinema">Studio: {{animation_studio}}</span>
          </div>
          <div class="description">
            <p>asdasdasdasd</p>
          </div>
          <div class="extra">
            {{#each genre}}
              <div class="ui label">{{this}}</div>
            {{/each}}
                    <a href="/shows/{{ id }}">View Details</a>
          </div>
        </div>
      </div>

    </div>

  {{/each}}

{{else}}
  <h3 class="ui message">
    Empty List!
  </h3>

{{/if}}